<html>
<head>
	<title>camp climate</title>
	<link rel="icon"
  type="image/icon"
  href="{{ STATIC_URL }}/static/images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/static/styles.css">
<script type="text/javascript" src="{{ STATIC_URL }}/static/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/static/jquery-ui-1.9.2.custom.min.js"></script>
<script type="text/javascript">
	$(function(){
		// spinning animation hack
		$("#goButton").click(function(){
			$("#content").hide();
			$("#spinner").show();
			// $.ajax({
			// 	beforeSend: function () {
			// 		$("#spinner").style.display = block;
			// 	},
			// 	complete: function () {

			// 	},
			// 	success: function () {

			// 	},
			// });
		});
		// showing data
		$("#infoToggle").toggle(function(){
			//add all the data
			$(".infoBlob").addClass('large',250,'easeOutCirc',function(){$(".amenities").show();})
			
			// $(".distance").show()
			$("#infoToggle").text('less info')
			.stop();
		}, function(){
			//remove all the data
			$(".amenities").hide()
			// $(".distance").hide()
			$(".infoBlob").removeClass('large',250,'easeInCirc')
			$("#infoToggle").text('more info')
			.stop();
		});
		// auto search from a city list
		$('#possibleCities li').click(function(){
			$('#id_location').val($(this).text())
			$('#goButton').click();
		});
		//auto search further
		$('#farther').click(function(){
			$('#id_distance').val(parseInt($('#id_distance').val()) + 10)
			$('#goButton').click();
		});

		// WORKING OLD TOGGLE CODE
		// $(".infoToggle").click(function(){
			
			
		// 	$(".infoBlob").toggleClass('large');
		// 	// $(".infoBlob").toggleClass('large', 300);
		// 	$(".distance").toggle();
		// 	$(".amenities").toggle();
		// 	// $(".infoToggle").html('<');
		// });
	});
</script>
</head>
<body>
	<div id="page">
		<div id="header">
			<form action="" method="get" class="smallForm">
				{{ form.as_ul }}
				<input type="submit" value="go" id="goButton" >
			</form>
			<div class="campgroundAmount">{{camplist_length|default:"No"}} campground{{camplist_length|pluralize}} returned</div>
			<span id="infoToggle">more info</span> 
		</div>

		<p>
		<div id="content">
			<div class="notification">
				{{notification}}
			</div>
			<div id="possibleCities">
				<ul>
				{% for city in possibleCityList %}
					<li>{{city.name}}, {{city.state}}	
					{% if sameCities %}
						- Population: {{city.population}}
					{% endif %}
					</li>
				{% endfor %}
				</ul>
			</div>
			<div id="farther">
				{{farther}}
			</div>
			{% for infoBlob in zipped %}
				<div class="infoBlob">
					<div class="cityName">
						{% load humanize %}
						{{infoBlob.campground.name}}   
						<span class="type">
							{{infoBlob.campground.TYEP}}
						</span>
						<span class="distance">
							{{infoBlob.distance}} mile{{infoBlob.distance|pluralize}}
						</span>

						
					</div>
	<!-- 				<span class="cityDistance">

					</span> -->
					<div class="weatherRow">
						{% for weatherBlob in infoBlob.weather %}
							<div class="weatherBlob">
								<div class="weatherDay">{{weatherBlob.day}}</div>
								<div class="weatherDate"> {{weatherBlob.date}}</div>
								<div class="weatherTemps">	High: {{weatherBlob.max_temp.value}} Low: {{weatherBlob.min_temp.value}}</div>
								<div class="weatherConditions">{{weatherBlob.conditions}}</div>

							</div>
						{% endfor %}
					</div>
					<div class="amenities">
						<ul>
						{% for amenity in infoBlob.campground.amenities %}
							<li>{{amenity}}</li>
						{% endfor %}
						{{infoBlob.campground.phone|default:"No Phone Listed"}} | 
						{{infoBlob.campground.sites|default:"No Site Data"}} 
						{%if infoBlob.campground.sites != '' %}
							site{{infoBlob.campground.sites|pluralize}}
						{% endif %} | 
						{{infoBlob.campground.elevation|default:"No Elevation Data"}} 
						{%if infoBlob.campground.elevation != '' %}
							ft
						{% endif %}
						</ul>
					</div>
				</div>
			{% endfor %}
		</div>
		<div id="spinner">
			<img src="{{ STATIC_URL }}/static/images/spin.gif" />
		</div>
		{% if debugSwitch %}
			<div id="debug">
				{% for debugText in debug %}
					| {{debugText}}
				{% endfor %}
			</div>
		{% endif %}
	</div>
</body>